.container {
  height: 55rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; // Change to your desired background color
}

.title {
  margin-bottom: 0.5rem;
  color: #3f51b5; // Change to your desired title color
}

.input {
  margin-bottom: 1rem;
}

.submit {
  margin-top: 1rem;
}

.already-Have-account-typography {
  display: flex;
  align-items: center; /* Center vertically */
  color: black;

  .link-to-login {
    margin-left: 0.25rem;
  }
}