@mixin generic-red-button {
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: 500;
  border-radius: 1.15rem;
  background-color: #ce175f;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s, box-shadow 0.3s;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #a11247;
    transform: translateY(-2px);
  }

  &:active {
    background-color: #de1866;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }
}

@mixin generic-blue-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: 500;
  border-radius: 1.15rem;
  background-color: #2074d4;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s, box-shadow 0.3s;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #3888e5;
    transform: translateY(-2px);
  }

  &:active {
    background-color: #2d6db7;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }
}