.post-list-container {
  height: 50vh;
  overflow-y: auto;
  padding: 0;

  .post-list {
    padding: 0;

    .post-item {
      border-bottom: 1px solid #ddd;
      padding: 1rem;

      &:last-child {
        border-bottom: none;
      }

      .post-card {
        width: 100%;

        .post-date {
          font-size: 0.8rem;
          color: gray;
          margin-top: 5px;
        }

        .post-author {
          margin-left: 5px;
        }
      }
    }

    .post-title {
      font-size: 1.25rem;
      font-weight: bold;
      color: #333;
    }

    .post-content {
      font-size: 1rem;
      color: #3f3f3f;
    }
  }
}
